<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seanna.mapper.BookMapper">
    <cache/>
    <insert id="save" parameterType="Book">
        insert into t_book(bookname,bookprice,bookauthor,booknum,typeid,pubid,bookpic)
                values(#{bookname},#{bookprice},#{bookauthor},#{booknum},#{typeid},#{pubid},'')
    </insert>
</mapper>




























